<html><head><meta content="text/html; charset=UTF-8" http-equiv="content-type"><style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=dB3GuSCq0f_LRNaO3opFPA');ol{margin:0;padding:0}table td,table th{padding:0}.c0{orphans:2;widows:2;height:11pt}.c2{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c3{font-size:14pt;font-family:"Open Sans"}.c1{orphans:2;widows:2}.c5{font-style:italic}.c4{background-color:#fff2cc}.title{padding-top:0pt;color:#000000;font-size:21pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:13pt;padding-bottom:10pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:10pt;color:#000000;font-size:16pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:10pt;color:#000000;font-weight:bold;font-size:13pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:8pt;color:#666666;font-weight:bold;font-size:12pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:8pt;color:#666666;text-decoration:underline;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:8pt;color:#666666;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:8pt;color:#666666;font-size:11pt;padding-bottom:0pt;font-family:"Trebuchet MS";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}</style></head>







<body class="c2"><p class="c1"><span class="c3">Hi <%=@user.first_name%></span></p><p class="c1"><span class="c3">Welcome to ServiceMe! </span></p><p class="c0"><span class="c3"></span></p><p class="c1"><span class="c3">Thanks so much for joining us. You&rsquo;re on your way to super-productivity and beyond!</span></p><p class="c0"><span class="c3"></span></p><p class="c1"><span class="c3">Please Click on the link below to verify your email.<br><br></span></p>
<p><%=link_to "Confirm Email","/api/v1/users/confirm_email/#{@user.confirmation_token}"%></p>
<p class="c0"><span class="c3"></span></p><p class="c1"><span class="c3">Have any questions? Just shoot us an email! We&rsquo;re always here to help.</span></p><p class="c0"><span class="c3"></span></p><p class="c1"><span class="c3">Cheerfully yours,</span></p><p class="c1"><span class="c3 c5">The ServiceMe Team</span></p></body></html>