<head>
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
  <script>
    var OneSignal = OneSignal || [];
    OneSignal.push(["init", {
      appId: "a182172c-210b-43bf-84b9-232a3125b544",
      subdomainName: 'serviceme',   
      notifyButton: {
          enable: true /* Set to false to hide */
      }
    }]);
  </script>
</head>
